[submodule "authinfo-color-mode"]
	path = lisp/authinfo-color-mode
	url = https://github.com/tecosaur/authinfo-color-mode.git
[submodule "pdftotext"]
	path = lisp/pdftotext
	url = https://github.com/tecosaur/pdftotext.el.git
[submodule "orgdiff"]
	path = lisp/orgdiff
	url = https://github.com/tecosaur/orgdiff.git
[submodule "ox-pluto"]
	path = lisp/ox-pluto
	url = https://github.com/tecosaur/ox-pluto.git
